<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twofish.mapper.SchedulingMapper">
	<!-- 基本resultMap -->
	<resultMap type="com.twofish.domain.Scheduling" id="BaseResultMap">
		<result column="user_id" property="userId"/>
		<result column="dept_id" property="deptId"/>
		<result column="scheduling_day" property="schedulingDay"/>
		<result column="subsection_type" property="subsectionType"/>
		<result column="scheduling_type" property="schedulingType"/>
		<result column="create_time" property="createTime"/>
		<result column="create_by" property="createBy"/>
	</resultMap>

	<sql id="Base_Query">
		SELECT
		t.user_id,t.dept_id,t.scheduling_day,t.subsection_type,t.scheduling_type,t.create_time,t.create_by
		FROM
		his_scheduling t
	</sql>

	<select id="listDeptForScheduling" parameterType="com.twofish.domain.Scheduling" resultMap="BaseResultMap">
		SELECT s.dept_id,s.dept_name,s.reg_number,s.dept_number,s.order_num,s.dept_leader,s.leader_phone,
		s.status,s.create_by,s.create_time,s.update_by,s.update_time
		FROM his_scheduling t, sys_dept s WHERE t.dept_id = s.dept_id AND s.status = '0'
		<if test="schedulingDay != null and schedulingDay != ''">
			AND s.scheduling_day = #{schedulingDay}
		</if>
		<if test="subsectionType != null and subsectionType != ''">
			AND s.subsectionType = #{subsectionType}
		</if>
		<if test="schedulingType != null and schedulingType != ''">
			AND s.scheduling_type = #{schedulingType}
		</if>
		<if test="deptId != null and deptId != ''">
			AND s.dept_id = #{deptId}
		</if>
	</select>

</mapper>