<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twofish.mapper.RoleMenuMapper">

	<resultMap type="com.twofish.domain.RoleMenu" id="BaseResultMap">
		<result property="roleId" jdbcType="BIGINT" column="role_id"/>
		<result property="menuId" jdbcType="BIGINT" column="menu_id"/>
	</resultMap>

	<delete id="deleteRoleMenuByRoleId" parameterType="Long">
		delete from sys_role_menu where role_id=#{roleId}
	</delete>

	<insert id="batchRoleMenu">
		insert into sys_role_menu(role_id, menu_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.menuId})
		</foreach>
	</insert>

	<select id="roleCheckedMenus" parameterType="Long" resultMap="BaseResultMap">
		select m.menu_id
		from sys_menu m
            left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        	and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id = rm.menu_id and rm.role_id = #{roleId})
	</select>
</mapper>